In [1]:
import pandas as pd
import numpy as np

In [5]:
questions = pd.read_csv('../zippedData/Questions.csv', encoding='latin1')
answers = pd.read_csv('../zippedData/Answers.csv', encoding='latin1')
tags = pd.read_csv('../zippedData/Tags.csv')

In [6]:
display(questions.head())
display(answers.head())
display(tags.head())

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

    Id        Tag
0  469     python
1  469        osx
2  469      fonts
3  469  photoshop
4  502     python

In [14]:
questions_2 = questions.copy()

In [19]:
questions_2['title_length'] = questions_2['Title'].map(len)
questions_2['body_length'] = questions_2['Body'].map(len)

In [20]:
questions_2.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body,title_length,body_length
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...,70,445
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...,39,314
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...,51,624
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...,46,91
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...,62,317

In [22]:
len(answers[answers['ParentId']==469])

4

In [39]:
questions_2['year'] = questions_2['CreationDate'].map(lambda x: int(x[:4]))
questions_2.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body,title_length,body_length,year
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...,70,445,2008
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...,39,314,2008
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...,51,624,2008
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...,46,91,2008
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...,62,317,2008

In [47]:
for year in [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]:
    print(year,"question count:",len(questions_2[questions_2['year']==year]))

2008 question count: 1927
2009 question count: 12417
2010 question count: 26349
2011 question count: 40910
2012 question count: 61294
2013 question count: 90297
2014 question count: 110229
2015 question count: 133319
2016 question count: 130540

In [54]:
questions_2016 = questions_2[questions_2['year']==2016].copy()

In [55]:
answers_2016 = answers[answers['ParentId'].isin(questions_2016['Id'])].copy()

In [56]:
ids = list(questions_2016['Id'])
questions_2016['answer_count'] = [len(answers_2016[answers_2016['ParentId']==x]) for x in ids]

In [57]:
questions_2016.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body,title_length,body_length,year,answer_count
476742,34552552,5732525.0,2016-01-01T00:00:39Z,2,Selenium Firefox webdriver won't load a blank ...,<p>everyone. </p>\n\n<p>Main question: I am us...,85,1265,2016,1
476743,34552584,5635159.0,2016-01-01T00:07:19Z,1,Is there any chance I got memory leak with pyt...,<p>Happy new year to all of you!\nI trained a ...,73,2105,2016,0
476744,34552670,1876983.0,2016-01-01T00:26:13Z,1,Why is my Runge-Kutta Python script defining e...,"<p>I am a newcomer to Python, my knowledge of ...",87,2107,2016,1
476745,34552671,5731951.0,2016-01-01T00:26:25Z,0,Frequency to Midi Converter python math error,"<p>This is a frequency to midi note converter,...",45,562,2016,2
476746,34552706,4180276.0,2016-01-01T00:35:34Z,0,Stream file to iphone with flask,<p>I am currently doing a file conversion on t...,32,1086,2016,0

In [ ]:
questions_2.head()

simple steps:
* title length
* body length
* answers count
* avg answers score
* highest answers score
* time of day
* day of week